<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm delimarche-header-container fixed-top">
  <div class="container-fluid header">
    <a class="navbar-brand" href="/"><%= image_tag "/images/logo.jpg", class:"header-logo" %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
            <li class="nav-item">
                 <%= link_to destroy_user_session_path, method: "delete",class: "nav-link" do %>
                 <%= image_tag "/images/logout_icon.png", class:"icon-size" %><label>ログアウト</label>
                 <% end %>
            </li>     
            <li class="nav-item mr-5">
                 <%= link_to mypage_users_path, class: "nav-link" do %>
                   <%= image_tag "/images/mypage_icon.png", class:"icon-size" %><label>マイページ</label>
                 <% end %>
            </li>
            <li class="nav-item mr-5">
                 <%= link_to mypage_favorite_users_path, class: "nav-link" do %>
                   <%= image_tag "/images/favorite_icon.png", class:"icon-size" %>
                 <% end %>
           </li>
           <li class="nav-item mr-5">
                 <%= link_to cart_users_path, class: "nav-link" do %>
                   <!--<i class="fas fa-shopping-cart"></i>-->
                   <%= image_tag "/images/shoppingcart_icon.png", class:"icon-size" %>
                 <% end %>
           </li>
        <% else %>
            <li class="nav-item">
                <%= link_to new_user_registration_path, class: "nav-link" do%>
                <%= image_tag "/images/mypage_icon.png", class:"icon-size" %><label>新規登録</label>
                <% end %>
            </li>
            <li class="nav-item">
                <%= link_to login_path, class: "nav-link" do%>
                <%= image_tag "/images/login_icon.png", class:"icon-size" %><label>ログイン</label>
                <% end %>
            </li>
        <% end %>

      </ul>
      
    </div>
  </div>
</nav>
